In [26]:

import pandas as pd
import numpy as np
import googlemaps

In [52]:
import time

def fetch_google_places_results(keywords, radius, region, api_key):
    endpoint = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    results = []
    for keyword in keywords:
        params = {
            "query": keyword,
            "radius": radius,
            "region": region,
            "key": api_key
        }
        while True:
            response = requests.get(endpoint, params=params)
            data = response.json()
            if "results" in data:
                results.extend(data["results"])
            if "next_page_token" in data:
                params["pagetoken"] = data["next_page_token"]
                
                time.sleep(2)  
            else:
                break
    
    
    places = []
    for place in results:
        name = place.get("name")
        geometry = place.get("geometry", {})
        location = geometry.get("location", {})
        latitude = location.get("lat")
        longitude = location.get("lng")
        places.append({"Name": name, "Latitude": latitude, "Longitude": longitude})
    
    return pd.DataFrame(places)

import requests
import pandas as pd

def fetch_lon_lat_for_location(location, radius, api_key):
    endpoint = "https://maps.googleapis.com/maps/api/place/textsearch/json"
    
    params = {
            "query": location,
            "radius": 900000,
            "region": "uk",
            "key": "ha ha lol"
        }
    
    results = []
    
    response = requests.get(endpoint, params=params)
    data = response.json()
    if "results" in data:
        results.extend(data["results"])
    places = []
    for place in results:
        name = place.get("name")
        geometry = place.get("geometry", {})
        location = geometry.get("location", {})
        latitude = location.get("lat")
        longitude = location.get("lng")

    
    return name,location, latitude, longitude

In [62]:


keywords = ["moto motorway service", "Welcome Break", "Roadchef"]
radius = 900000  
region = "uk"
api_key = "ha ha lol"
results_df_unchange = fetch_google_places_results(keywords, radius, region, api_key)
print(results_df_unchange)

                                              Name   Latitude  Longitude
0                                      Moto Exeter  50.716665  -3.463551
1                                      Moto Medway  51.341540   0.608134
2                         Moto Stafford Northbound  52.886106  -2.173586
3                                 Moto Severn View  51.603928  -2.621133
4                                Moto Cardiff West  51.508628  -3.307048
..                                             ...        ...        ...
143  Northampton Services Southbound Coach Parking  52.209901  -0.942236
144         McDonalds Roadchef Tibshelf Southbound  53.139558  -1.328725
145                          SPAR Roadchef Chester  53.268399  -2.803106
146            Clacket Lane M25 Westbound Services  51.270778   0.039548
147               SPAR Roadchef Sedgemoor Services  51.269053  -2.919246

[148 rows x 3 columns]

In [82]:
results_df_unchange.to_csv("service_locations_unchanged.csv", index=False)
results_df1 = results_df_unchange

In [87]:
dropwords = ["moto-way.com", "Welcome Break Fuel & Forecourt", "Welcome Break", "Roadchef"]
dropword_contain = [".com", "McDonalds"]
results_df = results_df1

for word in dropwords:
    results_df = results_df[~results_df['Name'].apply(lambda x: x == word)]


for word in dropword_contain:
    results_df = results_df[~results_df['Name'].str.contains(word)]


results_df.sort_values(by='Name', ascending=True, inplace=True)




print(results_df)
print("lemgth of dataset is =", len(results_df["Name"]))

                                                  Name   Latitude  Longitude
146                Clacket Lane M25 Westbound Services  51.270778   0.039548
115              Costa Coffee Roadchef Annandale Water  55.219997  -3.409958
129                      Costa Coffee Roadchef Chester  53.268399  -2.803106
140                     Costa Coffee Roadchef Hamilton  55.787156  -4.035050
141                    Costa Coffee Roadchef Maidstone  51.267106   0.614034
..                                                 ...        ...        ...
114  Roadchef Watford Gap Motorway Services M1 Nort...  52.306128  -1.122822
145                              SPAR Roadchef Chester  53.268399  -2.803106
147                   SPAR Roadchef Sedgemoor Services  51.269053  -2.919246
137                  SPAR Roadchef Tibshelf Northbound  53.136142  -1.332408
135       Truckstop Roadchef Northampton M1 Southbound  52.210445  -0.945688

[101 rows x 3 columns]
lemgth of dataset is = 101

In [ ]:
lol this should stop the code from running

In [7]:
locations = pd.read_csv('RFS0123_cleaned.csv')
locations.drop(columns=['Origin ITL2 code'], inplace=True)
location = locations['Location_Name'].to_list()

location_uk = [value + ", UK" for value in location]
print("lenght of", len(location_uk),"as", location_uk[2])

lenght of  40 as Carlisle, UK

In [19]:
city_lon_lat = pd.DataFrame(index = location_uk, columns=['Name', 'Latitude', 'Longitude'])

In [20]:

for i in location_uk:
    name,location, latitude, longitude = fetch_lon_lat_for_location(i, 900000, "ha ha lol")
    city_lon_lat.loc[i, "Name"] = name
    city_lon_lat.loc[i, "Latitude"] = latitude
    city_lon_lat.loc[i, "Longitude"] = longitude
    print(name, location, latitude, longitude)

Durham {'lat': 54.77525, 'lng': -1.584852} 54.77525 -1.584852
Blyth {'lat': 55.126957, 'lng': -1.510277} 55.126957 -1.510277
Carlisle {'lat': 54.892473, 'lng': -2.932931} 54.892473 -2.932931
Manchester {'lat': 53.4807593, 'lng': -2.2426305} 53.4807593 -2.2426305
Lancaster {'lat': 54.0449072, 'lng': -2.799346700000001} 54.0449072 -2.799346700000001
Warrington {'lat': 53.3900441, 'lng': -2.5969501} 53.3900441 -2.5969501
Liverpool {'lat': 53.4083714, 'lng': -2.9915726} 53.4083714 -2.9915726
Hull {'lat': 53.76762360000001, 'lng': -0.3274198} 53.76762360000001 -0.3274198
Middlesbrough {'lat': 54.574227, 'lng': -1.234956} 54.574227 -1.234956
Sheffield {'lat': 53.38112899999999, 'lng': -1.470085} 53.38112899999999 -1.470085
Leeds {'lat': 53.8007554, 'lng': -1.5490774} 53.8007554 -1.5490774
Derby {'lat': 52.9225301, 'lng': -1.4746186} 52.9225301 -1.4746186
Loughborough {'lat': 52.772099, 'lng': -1.206166} 52.772099 -1.206166
Lincoln {'lat': 53.2294565, 'lng': -0.5426827} 53.2294565 -0.5426827
Hereford {'lat': 52.05639799999999, 'lng': -2.715974} 52.05639799999999 -2.715974
Telford {'lat': 52.6775873, 'lng': -2.4672611} 52.6775873 -2.4672611
Birmingham {'lat': 52.48624299999999, 'lng': -1.890401} 52.48624299999999 -1.890401
Norwich {'lat': 52.6292567, 'lng': 1.2978802} 52.6292567 1.2978802
Luton {'lat': 51.8786707, 'lng': -0.4200255} 51.8786707 -0.4200255
Southend-on-Sea {'lat': 51.5459269, 'lng': 0.7077123} 51.5459269 0.7077123
Hammersmith {'lat': 51.491187, 'lng': -0.223731} 51.491187 -0.223731
Stratford-upon-Avon {'lat': 52.19173, 'lng': -1.708298} 52.19173 -1.708298
Woodford {'lat': 51.6041751, 'lng': 0.0325025} 51.6041751 0.0325025
Morden {'lat': 51.394943, 'lng': -0.19446} 51.394943 -0.19446
Harrow {'lat': 51.580559, 'lng': -0.341995} 51.580559 -0.341995
Milton Keynes {'lat': 52.0406224, 'lng': -0.7594171} 52.0406224 -0.7594171
Woking {'lat': 51.316774, 'lng': -0.5600349} 51.316774 -0.5600349
Southampton {'lat': 50.9105468, 'lng': -1.4049018} 50.9105468 -1.4049018
Dover {'lat': 51.1278758, 'lng': 1.3134027} 51.1278758 1.3134027
Bristol {'lat': 51.454513, 'lng': -2.58791} 51.454513 -2.58791
Poole {'lat': 50.71505, 'lng': -1.987248} 50.71505 -1.987248
Exeter {'lat': 50.72603669999999, 'lng': -3.5274889} 50.72603669999999 -3.5274889
Plymouth {'lat': 50.3754565, 'lng': -4.1426565} 50.3754565 -4.1426565
Swansea {'lat': 51.62144, 'lng': -3.943645999999999} 51.62144 -3.943645999999999
Cardiff {'lat': 51.483707, 'lng': -3.1680962} 51.483707 -3.1680962
Aberdeen {'lat': 57.1498891, 'lng': -2.0937528} 57.1498891 -2.0937528
Perth {'lat': 56.394994, 'lng': -3.4308381} 56.394994 -3.4308381
Edinburgh {'lat': 55.953252, 'lng': -3.188267} 55.953252 -3.188267
Fort William {'lat': 56.81981700000001, 'lng': -5.1052179} 56.81981700000001 -5.1052179
Dumfries {'lat': 55.070859, 'lng': -3.60512} 55.070859 -3.60512

In [25]:
city_lon_lat.reset_index(drop=True, inplace=True)
city_lon_lat.to_csv('city_lon_lat.csv', index=False)
city_lon_lat

                   Name   Latitude Longitude
0                Durham   54.77525 -1.584852
1                 Blyth  55.126957 -1.510277
2              Carlisle  54.892473 -2.932931
3            Manchester  53.480759 -2.242631
4             Lancaster  54.044907 -2.799347
5            Warrington  53.390044  -2.59695
6             Liverpool  53.408371 -2.991573
7                  Hull  53.767624  -0.32742
8         Middlesbrough  54.574227 -1.234956
9             Sheffield  53.381129 -1.470085
10                Leeds  53.800755 -1.549077
11                Derby   52.92253 -1.474619
12         Loughborough  52.772099 -1.206166
13              Lincoln  53.229456 -0.542683
14             Hereford  52.056398 -2.715974
15              Telford  52.677587 -2.467261
16           Birmingham  52.486243 -1.890401
17              Norwich  52.629257   1.29788
18                Luton  51.878671 -0.420025
19      Southend-on-Sea  51.545927  0.707712
20          Hammersmith  51.491187 -0.223731
21  Stratford-upon-Avon   52.19173 -1.708298
22             Woodford  51.604175  0.032502
23               Morden  51.394943  -0.19446
24               Harrow  51.580559 -0.341995
25        Milton Keynes  52.040622 -0.759417
26               Woking  51.316774 -0.560035
27          Southampton  50.910547 -1.404902
28                Dover  51.127876  1.313403
29              Bristol  51.454513  -2.58791
30                Poole   50.71505 -1.987248
31               Exeter  50.726037 -3.527489
32             Plymouth  50.375456 -4.142657
33              Swansea   51.62144 -3.943646
34              Cardiff  51.483707 -3.168096
35             Aberdeen  57.149889 -2.093753
36                Perth  56.394994 -3.430838
37            Edinburgh  55.953252 -3.188267
38         Fort William  56.819817 -5.105218
39             Dumfries  55.070859  -3.60512